@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.profile {
  max-width: 800px;
  margin: 0 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.profile__section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.profile__section--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile__section--details {
  background-color: #f9f9f9;
}
.profile__section--actions {
  text-align: center;
}
.profile__avatar {
  flex-shrink: 0;
}
.profile__avatar-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #4CAF50;
}
.profile__info {
  margin-left: 20px;
  flex-grow: 1;
}
.profile__info-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.profile__info-status {
  font-size: 14px;
  color: #4CAF50;
}
.profile__details-title {
  font-size: 18px;
  margin-bottom: 10px;
}
.profile__details-list {
  list-style: none;
  padding: 0;
}
.profile__details-list-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.profile__details-list-item-label {
  font-weight: bold;
}
.profile__details-list-item-value {
  color: #555;
}
.profile__actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.profile__actions-title {
  font-size: 18px;
  margin-bottom: 10px;
}
.profile__actions-button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.profile__actions-button--edit {
  background-color: #4CAF50;
  color: #fff;
}
.profile__actions-button--edit:hover {
  background-color: #45A049;
}
.profile__actions-button--logout {
  background-color: #f44336;
  color: #fff;
}
.profile__actions-button--logout:hover {
  background-color: #e53935;
}

/* Загальні змінні для кольорів та відступів */
header {
  background-color: #505d7d;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #f3ece4;
  padding: 12px 16px;
  margin: 0 -12px;
}
header .header__body {
  display: flex;
  justify-content: space-between; /* Елементи розділені */
  align-items: center; /* Вертикальне вирівнювання */
  flex-wrap: nowrap; /* Заборона переносу елементів */
  gap: 20px;
  overflow-x: auto;
  max-width: 1200px;
  margin: 0 auto;
  /* Стилізація профілю */
  /* Стилізація валюти */
}
header .header__body .profile {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header__body .profile__icon {
  width: 40px;
  height: 40px;
}
header .header__body .profile__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; /* Іконка у формі кола */
  border: 2px solid #f3ece4;
}
header .header__body .profile__name p {
  margin: 0;
  padding-right: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #ed7061;
}
header .header__body .currency {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .header__body .currency__icon {
  width: 24px;
  height: 24px;
}
header .header__body .currency__icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .header__body .currency__value p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #f3ece4;
}

/* Адаптивність */
@media (max-width: 768px) {
  header .header__body {
    gap: 16px;
    flex-wrap: wrap;
  }
  header .header__body .profile,
  header .header__body .currency {
    justify-content: center; /* Вирівнювання по центру */
  }
}
.farm {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Відстань між картками */
}

.farm__card {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card__body {
  display: flex;
  gap: 15px;
  flex: 1 1 80%;
  padding: 20px 0px 20px 20px;
}

.character__image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.test__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question__message {
  font-size: 1.2rem;
  color: #333;
}

.test__task {
  font-size: 1.4rem;
  font-weight: bold;
  color: #000;
}

.answear__input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.answear__block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.answear__block label {
  font-size: 1rem;
  color: #333;
}

.answear__block input[type=radio] {
  accent-color: #007bff;
}

.card__order {
  text-align: center;
}

.order__button {
  background-color: #ed7061;
  border: none;
  padding: 10px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  cursor: pointer;
  height: 100%;
}

.order__button img {
  width: 20px;
  height: 20px;
}

.order__button:hover {
  opacity: 0.9;
}

.courses {
  text-align: center;
  padding: 20px;
}

.courses__title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.courses__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Стилі карток */
.course-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.course-card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.course-card__title {
  font-size: 1.5rem;
  margin: 15px 10px 12px;
  color: #333;
}

.course-card__description {
  font-size: 1rem;
  margin: 0 10px 15px;
  color: #666;
  flex-grow: 1;
}

.course-card__button {
  display: inline-block;
  margin: 10px 10px 15px;
  padding: 10px 20px;
  background-color: #ed7061;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.course-card__button:hover {
  background-color: rgba(237, 111, 97, 0.9137254902);
}

/* Модифікатори для тем карток */
.course-card--logic {
  border-top: 4px solid #ff5733;
}

.course-card--math {
  border-top: 4px solid #28a745;
}

.course-card--ukrainian {
  border-top: 4px solid #ffc107;
}

.course-card--english {
  border-top: 4px solid #007bff;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  visibility: visible;
  width: 100vw;
}
.modal::before {
  content: "";
  background-image: url(/imgs/fonts/form-font.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.modal.hidden {
  opacity: 0;
  visibility: hidden;
}
.modal .form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .form__container .modal__content {
  background: #fff;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  max-width: 450px; /* Максимальна ширина */
  min-width: 320px; /* Мінімальна ширина */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.modal .form__container .modal__content input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.modal .form__container .modal__content .user__photo {
  width: 80px;
  margin: 0 auto;
}
.modal .form__container .modal__content .user__photo img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.modal .form__container .modal__content .submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #ed7061;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
.modal .form__container .modal__content .submit-btn:hover {
  background-color: #569e34;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .modal__content {
    width: 90%; /* Для ширини екрана менше 768px форма займатиме 90% ширини */
  }
}
@media (max-width: 480px) {
  .modal__content {
    width: calc(100% - 20px); /* Додаємо відступи для вузьких екранів */
  }
}
.character {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 auto;
}
.character__image img {
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.character__buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.character__buttons .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 120px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.character__buttons .button__image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 8px;
}
.character__buttons .button__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.character__buttons .button__subtitle {
  font-size: 12px;
  color: #666;
}

.game {
  display: flex;
  align-items: center;
  gap: 40px;
}
.game__player {
  display: flex;
  justify-content: center;
}
.game__player-image {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.game__choices {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.game__choices .choice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 120px;
  height: 120px;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
.game__choices .choice:hover {
  transform: scale(1.1);
  border-color: #333;
}
.game__choices .choice__icon {
  max-width: 100%;
  height: auto;
}
.game__choices .choice--rock {
  background-color: #f9e6e1;
}
.game__choices .choice--scissors {
  background-color: #e6f1f9;
}
.game__choices .choice--paper {
  background-color: #eaf9e6;
}

body {
  font-family: "Rubik", sans-serif;
  position: relative;
}

.stop-sctoll {
  overflow: hidden;
}

main {
  padding: 0 auto;
  margin: 0 12px 0 12px;
  background-color: #f3ece4;
  padding: 12px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}