$crimson: #ed7061;
$bodily: #f3ece4;
$pale-blue: #505d7d;
$green: #569e34;
$padding: 16px;

body {
  margin: 0;
  padding: 0;
  position: relative;

}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  visibility: visible;
  width: 100vw;

  &::before {
    content: '';
    background-image: url(/imgs/fonts/form-font.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .form__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal__content {
      background: #fff;
      padding: $padding;
      border-radius: 10px;
      width: 100%;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 450px;
      flex: 1 0 450px;
      margin: 10px;
      margin-bottom: 10px;

      @media (max-width: 481px) {
        .modal__content {
            width: 350px;
        }
      }

      .register__user {
        input {
          width: 100%;
          padding: 10px;
          margin: 5px 0;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 14px;
          display: block;
          }
      }

      .user__photo {
        padding: 0 auto;
        width: 80px;
        margin: 0 auto;

        img {
          object-fit: cover;
          object-position: center;
          width: 100%;
          height: auto;
          border-radius: 50%;
        }
      }

      .submit-btn {
        width: 100%;
        padding: 10px;
        background-color: $crimson;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
        padding: 10px;

        &:hover {
          background-color: $green;
        }
      }
    }
  }
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    .modal {
      padding: 0;
    }
  
    .modal__content {
      width: 90%;
      margin: 0 auto;
    }
  
    .user__photo {
      width: 60px;
    }
  
    .submit-btn {
      font-size: 14px;
    }
  }