$crimson: #ed7061;
$bodily: #f3ece4;
$pale-blue: #505d7d;
$green: #569e34;
$padding: 16px;

.farm {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Відстань між картками */
}

.farm__card {
    display: flex;
    // flex-direction: column;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card__body {
    display: flex;
    // flex-direction: column;
    gap: 15px;
    flex: 1 1 80%;
    padding: 20px 0px 20px 20px;
}

.character__image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.test__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question__message {
    font-size: 1.2rem;
    color: #333;
}

.test__task {
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
}

.answear__input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.answear__block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.answear__block label {
    font-size: 1rem;
    color: #333;
}

.answear__block input[type="radio"] {
    accent-color: #007bff;
}

.card__order {
    text-align: center;
}

.order__button {
    background-color: $crimson;
    border: none;
    padding: 10px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    cursor: pointer;
    height: 100%;
}

.order__button img {
    width: 20px;
    height: 20px;
}

.order__button:hover {
    opacity: 0.9;
}
