@import "reset_styles.scss";
@import "adaptive.scss";
@import "fonts.scss";
@import "header.scss";
@import "main_cards.scss";
@import "footer.scss";
@import "popups.scss";
@import "main_form.scss";

$crimson: #ed7061;
$bodily: #f3ece4;
$pale-blue: #505d7d;
$green: #569e34;
$padding: 16px;

body {
    font-family: "Rubik", sans-serif;
    position: relative;
}
.stop-sctoll {
    overflow: hidden;
}

main {
    // flex: 1 1 1000px;
    // max-width: 1800px;
    padding: 0 auto;
    margin: 0 12px 0 12px;
    background-color: $bodily;
    padding: 12px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}